@{
    ViewData["Title"] = "Register Page";

    var returnUrl = ViewData["ReturnURL"] as string;

    <!doctype html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css">
    </head>
    <body>
        <div class="container-fluid pt-5">
            <h1 class="font-weight-light text-center">Register your account!</h1>
            <form action="/register?ReturnURL=@System.Net.WebUtility.UrlEncode(returnUrl)">
                <div class="form-group">
                    <label for="inputFirstName">FirstName *</label>
                    <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="..." onfocusout="this.value = removeSpaces(this.value);" required>
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name *</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="..." onfocusout="this.value = removeSpaces(this.value);" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address *</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="..." name="email" onfocusout="this.value = removeSpaces(this.value);" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password *</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="..." onfocusout="this.value = removeSpaces(this.value);" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Confirm Password *</label>
                    <input type="password" class="form-control" id="inputPassword" name="confirmPassword" placeholder="..." onfocusout="this.value = removeSpaces(this.value);" required>
                </div>
                <div class="form-group text-center">
                    <label>Already Registered? <a asp-action="Login" asp-controller="Login">Click here to Login.</a></label>
                </div>
                <div class="text-center">
                    <button type="submit" formmethod="post" class="btn btn-primary">Register</button>
                </div>
            </form>
            <script language="javascript" type="text/javascript">
                function removeSpaces(string) {
                    return string.split(' ').join('');
                }
            </script>
        </div>
    </body>
</html>
}
